.shop{
  width: 100%;
  padding-top:200px;
  box-sizing: border-box;
  /* height: 3000px; */
  background: linear-gradient(rgb(201, 235, 250) 1%,  rgb(255, 255, 255) 6%);
}
.h3{
  color:rgb(66, 150, 219);
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 10px;  
}
.h2{
  color:rgb(221, 22, 22);
  font-size: 60px;
  text-align: center;
  font-weight: 500;  
}
.nav{
  width: 650px;
  padding-top:50px;  
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.nav li{  
  font-size: 18px;
  color:rgb(138, 137, 137);
  cursor: pointer;
}

.items{
  width: 1300px;
  /* background-color: aqua; */
  margin: 0 auto;
  padding-top:80px;
  display: flex;
  justify-content: space-between;

}
.item{
  padding-bottom:50px;
}

.img{
  background-color: rgb(240, 248, 255);
  border-radius: 15px;
}

.item h5{
  text-align: center;
  color:rgb(78, 173, 228);
  padding:25px;

}
.item p{
  text-align: center;
  font-size: 18px;  
}

.item .price{  
  color:black;
  font-weight: bold;
  padding:30px;
}
.item p .discount{
  margin-right:10px;
  color:red;
  font-weight: bold;
}

.item button{
  all: unset;
  width: 250px;
  padding:15px;
  margin: 0 auto;
  display: block;  
  text-align: center;
  font-size: 12px;
  color: red; 
  border-radius: 50px;
  border: 1px solid red;
  position: relative;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.item button .fiheart{
  position:absolute;
  top: 10px;
  right: 20px;
   
}

.item button .faheart{
  position:absolute;
  top: 10px;
  right: 20px; 
  display: none;  
}

.item button:hover .fiheart{
  display: none;  
}
.item button:hover .faheart{
  display: block;
  transition: all 0.5s ease-in-out;
}